<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<NetFx40_PInvokeStackResilience enabled="1"/>
		<generatePublisherEvidence enabled="false"/>	  
	</runtime>
	<appSettings>
		<add key="DSPort" value="41001"/>
		<add key="DSTimeOut" value="130000"/>
	</appSettings>
</configuration>
